.chatInfo-overlay {
    z-index: 1000;
    position: fixed;
    left: 18vw;
    top: 9vh;
    border: 0.5px solid #000;
    border-radius: 5px;
  }
  
  .chatInfo-content {
    background: white;
    text-align: center;
  }
  
  .chatInfo-content hr {
    position: relative;
    top: 0;
  }
  