/* Chat.css */
.chat-container {
    width: 75vw;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: #000;
}
  
.chat-header {
    display: flex;
    align-items: center;
    padding: 10px 15px;
}

.chat-header img {
  width: 35px;
}

.chat-header span {
  position: relative;
  left: 10px;
}
  .headerLine {
    position: relative;
    top: 5px;
    z-index: 2;
  }
  .chat-messages {
    height: 83vh;
    max-height: 83vh;
    overflow-y: auto;
    scrollbar-color: #c6c6c6 #ffffff;
  }
  .chatMessages {
    position: relative;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 5px;
    align-items: center;
  }
  .you{
    width: 30px;
    position: absolute;
    top: 10px;
    left: 5px;
  }
  .chatMessages span {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    background-color: #f0f0f0;
    position: relative;
    left: 40px;
  }
  

  .chat-input {
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: absolute;
    bottom: 2vh;
  }
  
  .chat-input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px; /* Rounded corners for left side */
    outline: none;
    font-size: 14px;
    background-color: #9D9D9D;
    color: #000;
    width: 71vw;
  }
  .chat-input .send-button {
    margin-left: 5px;
    border: none;
    color: white;
    width: 50px;
    height: 40px;
    align-items: center;
    background-color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 0 5px 5px 0; /* Rounded corners for right side */
  }
  
  .chat-input .send-button:hover {
    background-color: #9D9D9D;
  }
  .chat-input .send-button:focus {
    outline: none;
  }

  .chatInfoButton {
    background-color: #FFFFFF;
    position: fixed;
    right: 0;
    top: 0;
    outline: none;
    border: none;
}

.chatInfoButton:focus {
    outline: none;
}

.line {
  border-color: rgba(0, 0, 0, 0.5);
}