.modal-overlay {
    z-index: 1000;
    position: fixed;
    left: 18vw;
    top: 9vh;
    border: 0.5px solid #000;
    border-radius: 5px;
  }
  
  .modal-content {
    background: white;
    text-align: center;
  }
  
  .modal-content hr {
    position: relative;
    top: 0;
  }
  
  .line {
    border-color: rgba(0, 0, 0, 0.5);
  }
  