.showChatId {
    background-color: #fff;
    color: #000;
    outline: none;
    border: none;
    border-radius: 5px;
    display: block;
    width: 160px;
    text-align: left;
  }
  
  .showChatId:hover {
    border: none;
    background-color: #D9D9D9;
  }
  
  .showChatId:focus {
    outline: none;
  }

  .showRoomID {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .showRoomIDcontent {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    width: 36vw;
    height: 35vh;
  }
  .showRoomIDcontent h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  .showRoomIDcontent p {
    text-align: left;
    font-size: 1.25em;
  }
  .showRoomIDcontent span {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
    color: #000;
    font-size: 0.9em;
  }
  .closeID {
    margin: 5px;
    padding: 8px 16px;
    background-color: #DFDFDF;
    color: #000;
    width: 125px;
    outline: none;
    border: none;
  }
  .closeID:focus {
    outline: none;
  }
  .closeID:hover {
    outline: none;
    background-color: #D9D9D9;
  }
