* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.Login {

    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #c6c6c6;
    justify-content: center;
}

.leftcover, .rightcover {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 80vh;
    max-width: 34vw;
    position: relative;
    top: 85px;
}

.leftcover {
  background-color: #247360;
  color: #fff;
}

.rightcover {

    background-color: #EDECEC;
}

.loginBox {

    width: 100%;
    max-width: 400px;
    height: 50vh;
    padding: 20px;
    text-align: center; /* Center-aligns the content inside the login box */
    color: #000;
}
.loginBox h1 {
    margin-bottom: 300px;
    font-size: 3.5em;
}

.loginBox h1 {
  margin-bottom: 300px;
}

.GoogleIcon {

    height: 45px;
    width: 45px;
}

.loginBox button {
    display: flex;
    align-items: center;
    position: relative;
    left: 78px;
    bottom: 130px;
    height: 45px;

}
