* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.SearchFriend-container {
  width: 130vh;
  height: 60vh;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #000;
  overflow-y: auto;
  scrollbar-color: #C6C6C6 #ffffff;
}

.title {
  font-size: 2em;
  font-weight: bold;
  color: #333;
}

hr {
  margin: 1px;
  position: relative;
  top: 20px;
}

.field {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  position: relative;
  top: 15px;
}

.field input {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.searchButton {
  width: 40px;
  height: 40px;
  background-image: url("images/search_icon.PNG");
  background-size: cover;
  cursor: pointer;
  border: #ddd;
}

.searchButton:hover {
  background-image: url("images/search_icon_black.png");
  border: #ddd;
}

.searchButton:focus {
  outline: none;
}

.friend {
  position: relative;
  top: 18px;
  color: #000;
  font-size: large;
  display: flex;
  flex-direction: row;
}

.friend img {
  width: 60px;
  height: 60px;
}

.friendName {
  position: relative;
  top: 20px;
  left: 5px;
}

.sendInvite {
  width: 120px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 10px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-color: #000;
}

.sendInvite:hover {
  background-color: #EDECEC;
  border-color: #000;
}

.sendInvite:focus {
  outline: none;
}