/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-container {
  width: 130vh;
  height: 60vh;
  display: block;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #000;
  overflow-y: auto;
  scrollbar-color: #c6c6c6 #ffffff;
}

.title {
  font-size: 2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}
.setting {
  font-size: 1.25em;
}
.setting label {
  font-weight: bold;
  color: #666;
  margin-bottom: 10px;
  display: block;
}
.setting input,
.setting textarea {
  width: 100%;
  padding: 10px;
  font-size: 1.25em;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #000;
  vertical-align: middle;
  margin-bottom: 10px;
}

.sex-setting {
  font-size: 1.25em;
}

.sex-setting input {
  padding: 10px;
  font-size: 1.25em;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #000;
  vertical-align: middle;
  margin-bottom: 10px;
}
.sex {
  display: flex;
  flex-direction: row;
}
.sexlabel {
  font-weight: bold;
  color: #666;
  margin-bottom: 10px;
  display: block;
}
input[type="radio"] {
  display: none;
}
.radiobutton {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}
.radiobutton .gender {
  width: 120px;
  height: 30px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  float: left;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  color: #666;
  margin-bottom: 10px;
  display: block;
  border-radius: 5px;
}
.radiobutton:hover .gender {
  border-color: #000;
}
input[type="radio"]:checked + .gender {
  background-color: #1d74c5;
  border-color: #000;
  color: #fff;
}

.save-container {
  text-align: center;
}

.save-button {
  background-color: #247360;
  color: #fff;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  margin-top: 10px;
}

.save-button:hover {
  background-color: #1f5e53;
}
